<div class="element-bg-img">
    <img [src]="getImageUrl(selectedResort)" alt="" class="img-responsive">
</div>

<div class="element-left-bottom">

    <div class="ele-strip">
        <ul>
            <li><a href="#">Hotel</a></li>
            <li><a href="#">Fishing</a></li>
            <li><a href="#">Tours</a></li>
            <li class="anc-bor"><a href="#">Weather</a></li>
        </ul>
    </div>

    <div class="village">

        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>

        <div class="activity_box">

            <div class="scrollbar" id="style-2" *ngIf="resorts$ | async as resorts; else spinner">
                <uu-app-list-item *ngFor="let resort of resorts"
                                  [resort]="resort"
                                  [selectedResortId]="selectedResort?.id"
                                  (click)="onSelectResort(resort)"></uu-app-list-item>
            </div>

            <ng-template #spinner>
                <div class="spinner"></div>
            </ng-template>
        </div>

    </div>
</div>