<div class="element-bg-img">
    <img [src]="getImageUrl(selectedResort)" alt="" class="img-responsive">
</div>

<div class="element-left-bottom">

    <div class="ele-strip">
        <ul>
            <li *ngFor="let type of sortTypes"
                [ngClass]="{active: type.sortBy === sortBy}"
                (click)="selectType(type)"><a href="#">{{type.title}}</a></li>
        </ul>
    </div>

    <div class="village">

        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>

        <div class="activity_box">

            <div class="scrollbar" id="style-2" *ngIf="resorts$ | async as resorts; else spinner">
                <uu-app-list-item *ngFor="let resort of resorts | resortsSorter:sortBy"
                                  [resort]="resort"
                                  [selectedResortId]="selectedResort?.id"
                                  (click)="onSelectResort(resort)"></uu-app-list-item>
            </div>

            <ng-template #spinner>
                <div class="spinner">
                    <img src="https://loading.io/spinners/comets/lg.comet-spinner.gif">
                </div>
            </ng-template>
        </div>

    </div>
</div>