<div id="login">
  <h1>Welcome Back!</h1>

  <form #loginForm="ngForm">

    <div class="field-wrap">
      <label *ngIf="!email.value">
        Email Address<span class="req">*</span>
      </label>
      <input type="email"
             required
             autocomplete="off"
             [(ngModel)]="loginData.email"
             [validationDirective]="'email'"
             name="email" #email="ngModel">
      <div class="error" *ngIf="getErrorText(email.errors)">{{ getErrorText(email.errors) }}</div>
    </div>

    <div class="field-wrap">
      <label *ngIf="!password.value">
        Password<span class="req">*</span>
      </label>
      <input type="password"
             required
             autocomplete="off"
             [(ngModel)]="loginData.password"
             [validationDirective]="'password'"
             name="password" #password="ngModel">
      <div class="error" *ngIf="getErrorText(password.errors)">{{ getErrorText(password.errors) }}</div>
    </div>

    <button class="button button-block" [disabled]="loginForm.invalid" (click)="sendForm(loginForm)">Log In</button>

  </form>

</div>