<div class="activity-row" [ngClass]="{selected: resort.id === selectedResortId}">
    <div class="activity-desc">
        <h5>
            <img src="assets/ok.svg">
            Resort Address
        </h5>
        <p>{{resort.address}}</p>
        <h6>Tel: {{resort.phone | phoneFormat:7:2}}</h6>
    </div>
    <div class="activity-img">
        <ul>
            <li><img [src]='resort.img' alt=""/></li>
            <li><img [src]='resort.social_info.img' alt=""/></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>