<div id="signup">
  <h1>Sign Up for Free</h1>

  <form [formGroup]="signUpForm" (submit)="sendForm(signUpForm)">

    <div class="top-row">
      <div class="field-wrap">
        <label *ngIf="!fName.value">
          First Name<span class="req">*</span>
        </label>
        <input type="text" formControlName="firstName" #fName>
        <div class="error" *ngIf="getErrorText('firstName')">{{ getErrorText('firstName') }}</div>
      </div>

      <div class="field-wrap">
        <label *ngIf="!lName.value">
          Last Name<span class="req">*</span>
        </label>
        <input type="text" formControlName="lastName" #lName>
        <div class="error" *ngIf="getErrorText('lastName')">{{ getErrorText('lastName') }}</div>
      </div>
    </div>

    <div class="field-wrap">
      <label *ngIf="!email.value">
        Email Address<span class="req">*</span>
      </label>
      <input type="email" formControlName="email" #email>
      <div class="error" *ngIf="getErrorText('email')">{{ getErrorText('email') }}</div>
      <div class="spinner" *ngIf="loadingInProcess()">
        <img src="https://loading.io/spinners/comets/lg.comet-spinner.gif">
      </div>
    </div>

    <div class="field-wrap">
      <label *ngIf="!password.value">
        Set A Password<span class="req">*</span>
      </label>
      <input type="password" formControlName="password" #password>
      <div class="error" *ngIf="getErrorText('password')">{{ getErrorText('password') }}</div>
    </div>

    <button type="submit" [disabled]="loadingInProcess()" class="button button-block">Get Started</button>

  </form>

</div>
